<h1 class="text-center">Login</h1>

<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="login-form" novalidate>
  <p class="text-danger text-center" *ngIf="isError">Invalid email or password</p>
  <mat-form-field class="full-width">
    <input matInput placeholder="email" formControlName="email" [errorStateMatcher]="matcher" (input)="changeInput()">
    <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required') && (loginForm.get('email').touched || loginForm.get('email').dirty)">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').touched || loginForm.get('email').dirty)">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" (input)="changeInput()">
    <mat-error *ngIf="loginForm.get('password').hasError('minlength') && !loginForm.get('password').hasError('required') && (loginForm.get('password').touched || loginForm.get('password').dirty)">
      Password must be at least <strong>{{loginForm.get('password').errors.minlength.requiredLength}}</strong> characters
    </mat-error>
    <mat-error *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').touched || loginForm.get('password').dirty)">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button [disabled]="isLoging" class="btn-login" mat-raised-button color="primary">Login</button>
</form>